---
const { id } = Astro.props;
---

<div class="bg-slate-300 flex flex-row justify-center">
  <section
    class="sm:basis-3/4 md:basis-1/2 bg-slate-50 shadow-xl"
    id={id}
    data-animate-section
  >
    <h2
      class="border-l border-cyan-900 text-4xl font-light ml-10 pt-10 pl-4 opacity-0 animate"
    >
      Experience
    </h2>
    <ol class="relative border-l border-cyan-900 pt-14 pb-0 ml-10 mr-10">
      <slot />
    </ol>
  </section>
</div>

<script>
  import './animate-sections';
</script>
