---
import Main from '../layouts/main.astro';
import Header from '../components/header.astro';
import Content from '../components/content.astro';
import Footer from '../components/footer.astro';
---

<Main>
  <Header href="cv" />
  <Content id="cv" />
  <Footer />
</Main>
