---
import Main from '../layouts/main.astro';
import Header from '../components/header.astro';
import CV from '../components/cv.astro';
import Footer from '../components/footer.astro';
---

<Main>
  <Header href="cv" />
  <CV id="cv" />
  <Footer />
</Main>
