---
import Portrait from './portrait.jsx';

const { href } = Astro.props;
---

<header
  class="min-h-screen bg-cyan-900 text-slate-300 flex flex-col justify-center pt-6 pb-6 lg:pb-0"
>
  <div class="flex flex-col-reverse xl:flex-row justify-center">
    <div class="basis-1/4 flex flex-col justify-center">
      <h1 class="font-light text-5xl text-center xl:text-left mx-4 md:mx-0">
        Welcome,
      </h1>
      <h2 class="font-light text-5xl text-center xl:text-left mx-4 md:mx-0">
        I am <span class="text-orange-500">Gerrit Garbereder</span>
      </h2>
      <div class="text-xl mx-auto mt-4 xl:ml-0 px-4 md:px-0 s max-w-2xl">
        <p>
          Senior Engineering Manager with a track record of successfully leading
          cross-functional teams in delivering complex projects on-time and
          within budget, while fostering a culture of innovation, collaboration,
          and continuous improvement.
        </p>
        <nav class="mt-8">
          <a
            href={`#${href}`}
            class="rounded-full bg-orange-500 hover:bg-orange-600 px-6 py-2 text-slate-900"
            >Resume</a
          >
        </nav>
      </div>
    </div>
    <div class="flex flex-row justify-center sm:basis-1/4 mx-4 xl:mx-0">
      <Portrait />
    </div>
  </div>
</header>
