<head>
  <script>
    document.querySelector("html")?.classList.remove("nojs");
  </script>

  <meta charset="utf-8" />
  <title>Gerrit Garberder | Senior Engineering Manager</title>
  <meta name="description" content="Gerrit Garberder's CV website" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:title" content="Gerrit Garberder | Engineering Manager" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.garbereder.com" />
  <meta
    property="og:image"
    content="https://www.garbereder.com/img/portrait.jpg"
  />

  <link rel="manifest" href="site.webmanifest" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />

  <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Quicksand"
    as="style"
  />

  <link rel="preconnect" href="https://fonts.gstatic.com" />

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Quicksand"
  />
</head>
