<a
  href="#main-content"
  class="skip-link absolute left-4 top-4 z-[100] -translate-y-[200%] rounded bg-slate-800 px-4 py-2 text-slate-100 outline-2 outline-offset-2 outline-orange-400 focus:translate-y-0"
>
  Skip to main content
</a>
