@tailwind base;
@tailwind components;
@tailwind utilities;

.nojs .opacity-0.animate {
    @apply opacity-100
}

.opacity-0.animate {
    transition: all 1s;

    &.blur-sm {
        filter: blur(0);
    }
}

@media(prefers-reduced-motion) {
    .opacity-0.animate {
        transition: none;
    }
}

@for $i from 2 through 5 {
    #cv li:nth-child(#{$i}) {
        transition-delay: $i * 100ms;
    }
}